<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/entries"></ion-back-button>
    </ion-buttons>
    <ion-title>New Entry</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark"></ion-icon>       
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <form (ngSubmit)="addEntry(formGroup.value)" [formGroup]="formGroup">
   
      
    <ion-title><ion-input formControlName="title" type="text" name="title" placeholder="Title"></ion-input></ion-title>
  
    
    <ion-input formControlName="content" type="text" name="content" placeholder="Text"></ion-input>

    <ion-input formControlName="location" type="text" name="location" placeholder="Location"></ion-input>
  
    <ion-button type="submit">Save</ion-button>

</form>
</div>
</ion-content>