<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/tabs/entries"></ion-back-button> -->
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>New Entry</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openEditModal()">
        <ion-icon name="more"></ion-icon>
      </ion-button>
      <ion-button (click)="addEntry(entry)" [routerLink]="'/tabs/entries'" routerDirection="back">
        <ion-icon name="checkmark"></ion-icon>       
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  
<ion-textarea auto-grow class="title-input title-style" type="text" name="title" rows="1" placeholder="Titel" [(ngModel)]="entry.title"></ion-textarea>

<ion-textarea auto-grow class="entry-text" type="text" name="content" rows="3" placeholder="Enter Text here" [(ngModel)]="entry.content"></ion-textarea>

</div>
</ion-content>