<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/entries"></ion-back-button>
    </ion-buttons>
    <ion-title>New Entry</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="checkmark"></ion-icon>       
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="addEntry(formGroup.value)" [formGroup]="formGroup">
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input formControlName="title" type="text" name="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Text</ion-label>
    <ion-input formControlName="content" type="text" name="content"></ion-input>
</ion-item>
  <ion-item>
    <ion-button type="submit">Save</ion-button>
  </ion-item>
</form>
</ion-content>