<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTag()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-list-header>Alle Tags</ion-list-header>
    <ion-item button detail *ngFor="let tag of tagsService.tags" >
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label button [routerLink]="'/tabs/home/tags/tag-entries/'+ tag" routerDirection="forward">{{ tag }}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="editTag(tag)"><ion-icon name="create"></ion-icon></ion-button>
          <ion-button (click)="deleteTag(tag)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
