<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tags</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addTag()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Alle Tags</ion-list-header>
    <ion-item button *ngFor="let tag of tagsService.tags" [routerLink]="'/tabs/home/tags/tag-entries/'+ tag" routerDirection="forward">
        <ion-label>{{ tag }}</ion-label>
        <ion-buttons slot="end">
          <ion-button><ion-icon name="create"></ion-icon></ion-button>
          <ion-button (click)="deleteTag(tag)"><ion-icon name="trash"></ion-icon></ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
