<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'../settings'" routerDirection="forward">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
  <h1>{{ prefService.journalname }}</h1>

  <ion-list lines="none">
    <ion-item button detail color="light" [routerLink]="'/tabs/home/favorites'" routerDirection="forward">
      <ion-icon color="danger" name="heart" slot="start"></ion-icon>
      <ion-label>
        Favoriten
      </ion-label>
      <ion-badge slot="end" color="medium">
        {{ filterArray().length }}
      </ion-badge>
    </ion-item>
    <ion-item button detail color="light" [routerLink]="'/tabs/home/tags'" routerDirection="forward">
      <ion-icon color="primary" name="pricetag" slot="start"></ion-icon>
      <ion-label>
        Tags
      </ion-label>
      <ion-badge slot="end" color="medium">
        {{ tagsService.tags.length }}
      </ion-badge>
    </ion-item>
  </ion-list>
  </div>
</ion-content>
