<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'../settings'" routerDirection="forward">
        <ion-icon name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Filtern</ion-list-header>
    <ion-item button detail [routerLink]="'/tabs/home/favorites'" routerDirection="forward">
      Favoriten
    </ion-item>

    <ion-item button detail [routerLink]="'/tabs/home/tags'" routerDirection="forward">
        Tags
    </ion-item>
  </ion-list>
</ion-content>
