<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ entriesService.getDate(entry.date, stringOptions) }} </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'./edit'">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEntry(entry)" [routerLink]="'/tabs/entries'" routerDirection="back">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
  <div class="header ion-text-left">

    <ion-grid>
      <ion-row>
        <ion-col size="9">
          <h1>{{ entry.title }}</h1>
        </ion-col>
        <ion-col class="ion-text-end" size="3">
          <ion-icon *ngIf="entry.isFavorite" name="heart" size="small" color="danger"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row >
          <ion-text color="medium">
        {{ entry.location }}
      </ion-text>
      </ion-row>
    </ion-grid>

    <ion-chip button outline="true"  *ngFor="let tag of entrytags">
      <ion-label>{{ tag }}</ion-label>
    </ion-chip>
  </div>

    <div class="entry-text">
      <p>{{ entry.content }}</p>
    </div>
  </div>

  

</ion-content>
