.meta{
     color: #5c5c5c;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 8%;
}

.entry-title{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 20pt;
}

.entry-text{
    font-size: 13pt;
    line-height: 150%;
}

.meta{
   padding-bottom: 10px;
}

ion-chip{
    font-size: 10pt;
}

.header{
    margin-bottom: 20px;
}

ion-col{
    padding: 0;
}
ion-grid{
    padding: 0;
    margin: 10 0px;
}
