<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/entries"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ entry.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/tabs/entries/detail/' + entry.id + '/edit'">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEntry(entry)" [routerLink]="'/tabs/entries'" routerDirection="back">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <div class="header">
    <ion-title class="entry-title ion-text-start"> {{ entry.title }}</ion-title>
    
    <div class="meta"><ion-icon name="clock"></ion-icon> {{ create }}</div>
  </div>

    <div class="entry-text">
    {{ entry.content }}
  </div>

  </div>

</ion-content>
