<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ entry.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'./edit'">
        <ion-icon name="create"></ion-icon>
      </ion-button>
      <ion-button (click)="deleteEntry(entry)" [routerLink]="'/tabs/entries'" routerDirection="back">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-title class="entry-title"> {{ entry.title }}</ion-title> -->
  <div class="container">
  <div class="header ion-text-left">
    <h1>{{ entry.title }}</h1>
    <div class="meta"><ion-icon name="clock"></ion-icon> {{ create }}</div>
    <div><ion-icon name="pin"></ion-icon>{{ entry.location }}</div>
    <ion-icon *ngIf="heart" name="heart" size="large" color="danger"></ion-icon>

    <ion-chip *ngFor="let tag of entrytags">
      <ion-label>{{ tag }}</ion-label>
    </ion-chip>
  </div>

    
    <div class="entry-text">
      
    {{ entry.content }}
    
  </div>
  </div>

</ion-content>
