/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Open Sans */
@font-face{
    font-family: OpenSans-Bold;
    font-style: bold;
    src: url("./assets/fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face{
    font-family: OpenSans-ExtraBold;
    font-style: extraBold;
    src: url("./assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf");
}

/* Source Sans Pro */
@font-face{
    font-family: SourceSansPro;
    font-style: regular;
    src: url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: SourceSansPro-Bold;
    font-style: bold;
    src: url("./assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf");
}

@font-face{
    font-family: SourceSansPro-SemiBold;
    font-style: semiBold;
    src: url("./assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf");
}

/* Lato */
@font-face{
    font-family: Lato;
    font-style: regular;
    src: url("./assets/fonts/Lato/Lato-Regular.ttf");
}

@font-face{
    font-family: Lato-Light;
    font-style: light;
    src: url("./assets/fonts/Lato/Lato-Light.ttf");
}

 .container{
     padding: 20px;
 }
 .content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 30px;
}

 .entry-title{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 20pt;
}

.entry-text{
    font-size: 13pt;
    line-height: 150%;
}

h1, .entry-title{
    // font-family: OpenSans-ExtraBold;
    font-family: SourceSansPro-Bold;
    margin: 10px 0 30px;
}

h2{
    font-family: SourceSansPro-SemiBold;
}

.meta{
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #a0a0a0;
}
p, .entry-text{
    font-family: Lato-Light;
    font-size: 1rem;
}

ion-item ion-label{
    padding: 10px 0;
}

/* Styles fuer Cards */
ion-card ion-col{
    padding: 0;
    margin: 0;
}

ion-card ion-grid{
    padding: 0;
    margin: 10 0px;
}
ion-card-title{
    color: #494949;
    font-size: 1.2rem;
}

ion-card{
    margin: 20px 0;
    padding: 5px 10px;    
    border-radius: 15px;
    box-shadow: none;
}
    
ion-card-header{
    padding-bottom: 3px;
}
    
ion-card-content{
    color: #707070;
    font-size: 1rem;
}

p{
    max-width: 100%;
}

ion-text, p{
    overflow: hidden;
}
