<ion-header>
  <ion-toolbar>
    <ion-title>Edit Entry</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [routerLink]="'/tabs/entries/detail/' + entry.id" routerDirection="back">
        <ion-icon name="checkmark"></ion-icon>       
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <ion-item>
      <ion-input class="title-input" type="text" name="title" [(ngModel)]="entry.title"></ion-input>
  </ion-item>
    <ion-textarea auto-grow type="text" name="content" rows="3" [(ngModel)]="entry.content"></ion-textarea>
  </div>
</ion-content>

<div class="action-buttons">
  <ion-button slot="start" (click)="toggleLike(entry)" color="{{buttonColor}}">
    <ion-icon name="heart"></ion-icon>
  </ion-button>
  <ion-button (click)="addTag()">
    <ion-icon name="pricetag"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon name="image"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon name="camera"></ion-icon>
  </ion-button>
  <ion-button>
    <ion-icon name="pin"></ion-icon>
  </ion-button>
  </div>