<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="content">
<ion-card button detail color="light" *ngFor="let entry of favs" [routerLink]="'/tabs/home/favorites/detail/' + entry.id" routerDirection="forward">
  <ion-card-header >
    <ion-card-title>{{ entry.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content rows="4" color="medium">
    <p> {{ entry.content }}</p>
    {{ entriesService.getDate(entry.date, options) }}
   </ion-card-content>
</ion-card>
</div>

</ion-content>
