
ion-card{
border-radius: 15px;
   margin: 20px 0;
   padding: 5px 10px;
box-shadow: none;
}

ion-card-header{
    padding-bottom: 3px;
}

ion-card-content{
    font-size: 14px;
}

ion-card-subtitle{

}
.container{
    box-sizing: border-box;
    padding: 10px 30px;
}

p{
   
    padding: 5px 0;
    margin: 0;
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
}