<ion-header>
  <ion-toolbar>
    <ion-title>Tagebucheinträge</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addEntry()">
        <ion-icon name="add"></ion-icon>
       </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Alle Einträge</ion-list-header>
    <ion-item button detail *ngFor="let entry of entriesService.entries" [routerLink]="'/tabs/entries/detail/' + entry.id" routerDirection="forward">
      <ion-label>{{ entry.title }}</ion-label>
      <!-- <ion-text class="ion-text-wrap"> {{ entry.content }}</ion-text> -->
    </ion-item>
  </ion-list>
</ion-content>
