<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Notifications</ion-label>
    <ion-toggle slot="end" (ionChange)="prefService.toggleChanged($event)" [(ngModel)]="prefService.isActive"></ion-toggle>
  </ion-item>
  <ion-item *ngIf="prefService.isActive"> 
    <ion-label>Time</ion-label>
    <ion-datetime displayFormat="HH:mm" (ionChange)="prefService.timeChanged($event)" [(ngModel)]="prefService.sceduledTime"></ion-datetime>
  </ion-item>
  
  </ion-content>